/*  
Night Owl Admin Dashboard
Author: Tim Green
Description: Utilities Styles
Version: 1.0.0
*/

.dropdown-menu {
    padding: 4px 0;
    font-size: 15px;
    -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, .08);
    box-shadow: 0 2px 30px rgba(0, 0, 0, .08);
    background-color: #fff;
    border-color: transparent
}
.dropdown-item {
    background-color: #fff
}
.dropdown-item:active {
    background-color: #f7f7f7;
    color: #1f2b38
}
.dropdown-item:hover {
    background-color: #f7f7f7;
    color: #1f2b38
}
.dropdown-item.active,
.dropdown-item:active {
    background-color: #eff3f6;
    color: #1f2b38
}
.dropdown-item {
    padding: .55rem 1.5rem
}
.bg-primary {
    background-color: #59ceb5!important
}
.bg-success {
    background-color: #5b6be8!important
}
.bg-info {
    background-color: #40a4f1!important
}
.bg-warning {
    background-color: #f5b225!important
}
.bg-danger {
    background-color: #ec536c!important
}
.bg-muted {
    background-color: #707070!important
}
.bg-white {
    background-color: #fff!important
}
.text-white {
    color: #fff!important
}
.text-danger {
    color: #ec536c!important
}
.text-muted {
    color: #707070!important
}
.text-primary {
    color: #59ceb5!important
}
.text-warning {
    color: #f5b225!important
}
.text-success {
    color: #5b6be8!important
}
.text-info {
    color: #40a4f1!important
}
.text-dark {
    color: #1f2b38!important
}
.badge {
    font-weight: 500;
    color: #fff
}
.badge-light {
    background-color: #eff3f6;
    color: #1f2b38
}
.badge-primary {
    background-color: #59ceb5
}
.badge-success {
    background-color: #5b6be8
}
.badge-info {
    background-color: #40a4f1
}
.badge-warning {
    background-color: #f5b225
}
.badge-danger {
    background-color: #ec536c
}
.badge-dark {
    background-color: #1f2b38
}
.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
    background-color: #59ceb5
}
.nav-pills>.active>a>.badge {
    color: #59ceb5
}
.popover-header {
    margin-top: 0
}
.blockquote {
    font-size: 1.05rem
}
.modal-title {
    margin-top: 0
}
.alert {
    position: relative;
    border: 0;
    font-size: 14px
}
.alert i {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 10px
}
.alert .alert-link {
    font-weight: 600
}
.alert-success {
    color: #59ceb5;
    background-color: #cff1ea
}
.alert-success .alert-link {
    color: #38bca0
}
.alert-success hr {
    border-top-color: #2e43e2
}
.alert-info {
    color: #40a4f1;
    background-color: #cfe8fb
}
.alert-info .alert-link {
    color: #118ded
}
.alert-info hr {
    border-top-color: #118ded
}
.alert-warning {
    color: #f5b225;
    background-color: #fdeed0
}
.alert-warning .alert-link {
    color: #dd990a
}
.alert-warning hr {
    border-top-color: #dd990a
}
.alert-danger {
    color: #ec536c;
    background-color: #fbdde2
}
.alert-danger .alert-link {
    color: #e72545
}
.alert-danger hr {
    border-top-color: #e72545
}
.p-0 {
    padding: 0
}
.p-t-10 {
    padding-top: 10px
}
.p-b-10 {
    padding-bottom: 10px
}
.m-0 {
    margin: 0
}
.m-r-5 {
    margin-right: 5px
}
.m-r-10 {
    margin-right: 10px
}
.m-r-15 {
    margin-right: 15px
}
.m-l-10 {
    margin-left: 10px
}
.m-l-15 {
    margin-left: 15px
}
.m-t-5 {
    margin-top: 5px
}
.m-t-10 {
    margin-top: 10px
}
.m-t-15 {
    margin-top: 15px
}
.m-t-20 {
    margin-top: 20px
}
.m-t-30 {
    margin-top: 30px
}
.m-t-40 {
    margin-top: 40px
}
.m-b-5 {
    margin-bottom: 5px
}
.m-b-10 {
    margin-bottom: 10px
}
.m-b-15 {
    margin-bottom: 15px
}
.m-b-20 {
    margin-bottom: 20px
}
.m-b-30 {
    margin-bottom: 30px
}
.w-xs {
    min-width: 80px
}
.w-sm {
    min-width: 95px
}
.w-md {
    min-width: 110px
}
.w-lg {
    min-width: 140px
}
.w-30 {
    width: 30px
}
.w-40 {
    width: 40px
}
.w-60 {
    width: 60px
}
.w-80 {
    width: 80px
}
.w-130 {
    width: 130px
}
.width-100 {
    width: 100px
}
.w-200 {
    width: 200px
}
.h-300 {
    height: 300px
}
.h-400 {
    height: 400px
}
.m-h-50 {
    min-height: 50px
}
.l-h-23 {
    line-height: 23px
}
.l-h-34 {
    line-height: 34px
}
.font-12 {
    font-size: 12px
}
.font-14 {
    font-size: 14px
}
.font-16 {
    font-size: 16px
}
.font-18 {
    font-size: 18px
}
.font-20 {
    font-size: 20px
}
.font-24 {
    font-size: 24px
}
.font-30 {
    font-size: 30px
}
.font-32 {
    font-size: 32px
}
.font-36 {
    font-size: 36px
}
.font-40 {
    font-size: 40px
}
.font-80 {
    font-size: 80px
}
.fw-700 {
    font-weight: 700
}
.no-border {
    border: none
}
.bx-shadow {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1)
}
.thumb-sm {
    height: 32px;
    width: 32px
}
.thumb-md {
    height: 48px;
    width: 48px
}
.thumb-lg {
    height: 88px;
    width: 88px
}
.text-green {
    color: #365d6e
}
.text-lightdark3 {
    color: #333
}
.text-greylight {
    color: #c1c5e2
}
.header-title {
    font-size: 16px
}

.custom-input {
    border-radius: 3px;
    right: -1px;
    bottom: -2px;
    margin-top: 14px;
    background-color: rgba(45, 65, 83, .3);
    border: 1px solid rgba(85, 143, 157, .3)
}
.custom-input input.form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .7)
}
.custom-input input.form-control:-moz-placeholder {
    color: rgba(255, 255, 255, .7)
}
.custom-input input.form-control::-moz-placeholder {
    color: rgba(255, 255, 255, .7)
}
.custom-input input.form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, .7)
}
.todo-list .form-control {
    color: #fff;
    background-color: transparent;
    border: 1px solid transparent
}
.todo-list .form-control:focus {
    border-color: transparent;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}
.ckbox {
    font-weight: 400;
    position: relative;
    display: block;
    line-height: 24px
}
label {
    display: inline-block;
    margin-bottom: .5rem
}
.ckbox input[type=checkbox] {
    opacity: 0;
    margin: 0 5px 0 0
}
.todo-task {
    padding: 4px 0
}
.todo-task input:checked+span {
    text-decoration: line-through
}
.ckbox span {
    padding-left: 16px
}
.ckbox span:before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 1px solid #365d6e;
    top: 1px;
    left: 0;
    border-radius: 3px
}
.ckbox span:after,
.ckbox span:before {
    line-height: 18px;
    position: absolute
}
.ckbox input[type=checkbox]:checked+span:after {
    display: block
}
.ckbox span:after {
    top: 1px;
    left: 0;
    width: 18px;
    height: 18px;
    content: "\F12C";
    font-family: "Material Design Icons";
    font-size: 14px;
    text-align: center;
    color: #365d6e;
    background-color: transparent;
    line-height: 18px;
    display: none;
    font-weight: 700
}
.table-data .nav .nav-item a {
    display: block;
    padding: 5px 8px;
    font-size: 14px;
    color: #707070;
    border: 2px solid #707070
}
.nav-link.disabled,
.nav-tabs .nav-link.disabled {
    color: #aaa
}
.dashboard .nav-pills .nav-item.show .nav-link,
.dashboard .nav-pills .nav-link.active,
.dashboard .nav-tabs .nav-link.active {
    color: #1f2b38!important;
    background-color: #eff3f6!important
}
.nav-tabs {
    margin-bottom: 0
}
.text-color-ped {
    height: 30px;
    background-color: #5b626b
}
.link-color-ped {
    height: 30px;
    background-color: #707070
}
.bg-topbar {
    background-color: #2b3a4a!important
}
.card-header:first-child {
    background-color: rgba(239, 243, 246, .25)
}
#accordion .card-header h5 a::before,
#accordion2 .card-header h5 a::before {
    content: '\f106';
    font-family: FontAwesome;
    position: absolute;
    top: 12px;
    right: 25px;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}
#accordion .card-header h5 a.collapsed::before,
#accordion2 .card-header h5 a.collapsed::before {
    content: '\f107';
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}
.symbol-empty {
    background-image: linear-gradient(60deg, #444 0, #69679a 100%)
}
.friend-img {
    width: 60px
}
.mail-inbox img {
    width: 40px
}
.border-b {
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}
.mail-inbox .list-group-item.active {
    background-color: transparent;
    color: #59ceb5;
    font-weight: 700
}
.email-read .read-email img {
    width: 150px
}
.profile-tabs {
    border-bottom: 1px solid transparent!important
}
.presonal-inform li b {
    width: 108px;
    display: inline-block;
    text-transform: capitalize;
    color: #707070;
    font-size: 15px;
    font-weight: 500
}
.presonal-inform li {
    float: left;
    width: 50%;
    color: #707070;
    line-height: 30px
}
.tab-pane .progress {
    height: 5px
}
.profile-border {
    width: 10%;
    height: 3px;
    margin: 10px auto 15px;
    background-color: #5b6be8
}
.detail-text {
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px
}
.invoice hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, .2)
}
.contact-list .list-group-item {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .05);
    border-left: 0;
    border-right: 0
}
.testi-carousel {
    border: 4px double #6c757d;
    border-radius: 5px
}
.testi-carousel p b {
    font-weight: 700
}
.main-income .income-data {
    position: absolute;
    z-index: 10
}
.custom-form .form-control {
    background-color: rgba(105, 103, 154, .2);
    border: 1px solid #333;
    color: #ddd
}
.custom-form .form-control:focus {
    background-color: rgba(105, 103, 154, .5);
    border: 1px solid #69679a;
    color: #ddd
}
.widget-2 {
    margin-top: -25px;
    padding: 0 30px 30px
}
.bg-grad-1 {
    background: -webkit-gradient(linear, left top, right top, from(#614385), to(#516395))!important;
    background: linear-gradient(to right, #614385 0, #516395 100%)!important
}
.blog-card h4 {
    font-weight: 600
}
.card-img-overlay {
    bottom: auto
}
#chat ul li a i,
.blog-card .card-body ul li a i,
.card-socials ul li a i,
.custom-form ul li a i {
    font-size: 16px;
    background-color: rgba(239, 243, 246, .5);
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%
}

.dashboard #morris-area-chart {
    height: 290px
}
.dashboard #morris-donut-example {
    height: 305px
}
.dashboard #world-map-markers {
    height: 265px
}
.dashboard #multi-line-chart {
    height: 150px
}
.dashboard .todo-list.boxscroll {
    height: 230px
}
.dashboard .table-data .boxscroll {
    height: 570px
}
.dashboard-2 #morris-area-chart {
    height: 365px
}
.dashboard-2 #morris-bar-example {
    height: 220px
}
.dashboard-2 #morris-donut-example {
    height: 190px
}
.dashboard-2 .tab-widget #home .boxscroll,
.dashboard-2 .tab-widget #messages .boxscroll {
    height: 480px
}
.dashboard-2 .tab-widget #chat .boxscroll {
    height: 380px
}
.dashboard-2 .table-data .boxscroll {
    height: 390px
}
.dashboard-2 .d3-widget {
    position: absolute;
    left: 0;
    right: 0
}
.dashboard-2 .pdf p i {
    border: 2px solid #3b6678;
    padding: 10px;
    border-radius: 5px;
    background-color: #365d6e
}
.dashboard-2 .pdf p i:hover {
    border: 2px solid #396375;
    background-color: #386071
}
.dashboard-3 #multi-line-chart {
    height: 300px
}
.dashboard-3 #morris-bar-example {
    height: 280px
}
.dashboard-3 .tab-widget #home .boxscroll,
.dashboard-3 .tab-widget #messages .boxscroll {
    height: 480px
}
.dashboard-3 .tab-widget #chat .boxscroll {
    height: 380px
}
.dashboard-3 .table-data .boxscroll {
    height: 390px
}
.profit {
    color: rgba(118, 205, 222, .5)
}
.lost {
    color: rgba(255, 255, 255, .7)
}
.margin {
    color: rgba(211, 218, 232, .5)
}
.slide {
    float: none
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #707070
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 15px;
    margin-top: 5px
}

/*/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: all .7s ease-out;
    transition: all .7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none
}
.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, .25)
}
.waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, .7)
}
.waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, .7)
}
.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, .7)
}
.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, .7)
}
.waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, .7)
}
.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, .7)
}
.waves-notransition {
    -webkit-transition: none;
    transition: none
}
.waves-circle {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none
}
.waves-input-wrapper {
    border-radius: .2em;
    vertical-align: bottom
}
.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
}
.waves-block {
    display: block
}



.button-items {
    margin-bottom: -8px
}
.button-items .btn {
    margin-bottom: 8px;
    margin-right: 5px
}
.bs-example-modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block
}
.icon-demo-content {
    text-align: center;
    color: #707070
}
.icon-demo-content i {
    display: block;
    font-size: 28px;
    margin-bottom: 5px
}
.icon-demo-content .col-sm-6 {
    margin-bottom: 30px
}
.icon-demo-content .col-sm-6:hover i {
    color: #59ceb5
}
.grid-col div span {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    border: 1px solid rgba(255, 255, 255, .2);
    display: block
}
.grid-col .nested-col.row span {
    background: #ededed;
    display: block
}
.icon-demo-content i {
    display: block;
    margin: 0 auto;
    width: 50px;
    font-size: 24px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}
.icon-demo-content .col-sm-6:hover i {
    color: #59ceb5
}
.btn {
    border-radius: 3px;
    font-size: 15px;
    outline: 0!important
}
.btn-round {
    border-radius: 20px
}
.btn-danger,
.btn-dark,
.btn-info,
.btn-primary,
.btn-success,
.btn-warning {
    color: #fff
}
.btn-secondary {
    border-color: rgba(31, 43, 56, .2)
}
.btn-secondary.active,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover,
.open>.dropdown-toggle.btn-secondary,
.show>.btn-secondary.dropdown-toggle {
    border: 1px solid rgba(31, 43, 56, .2)
}
.btn-primary,
a.bg-primary:focus,
a.bg-primary:hover {
    background-color: #59ceb5!important;
    border: 1px solid #59ceb5!important
}
.btn-outline-primary.active,
.btn-outline-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.open>.dropdown-toggle.btn-primary,
.show>.btn-outline-primary.dropdown-toggle,
.show>.btn-primary.dropdown-toggle {
    background-color: #45c8ac;
    border: 1px solid #45c8ac
}
.btn-outline-primary:focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(89, 206, 181, .55);
    box-shadow: 0 0 0 .2rem rgba(89, 206, 181, .55)
}
.btn-success {
    background-color: #5b6be8;
    border: 1px solid #5b6be8
}
.btn-success:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(69, 87, 229, .51);
    box-shadow: 0 0 0 .2rem rgba(69, 87, 229, .51)
}
.btn-outline-success.active,
.btn-outline-success:active,
.btn-outline-success:hover,
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.btn-success:not(:disabled):not(.disabled):active,
.open>.dropdown-toggle.btn-success,
.show>.btn-outline-success.dropdown-toggle,
.show>.btn-success.dropdown-toggle {
    background-color: #4557e5;
    border: 1px solid #4557e5
}
.btn-info {
    background-color: #40a4f1;
    border: 1px solid #40a4f1
}
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.btn-outline-info.active,
.btn-outline-info:active,
.btn-outline-info:hover,
.open>.dropdown-toggle.btn-info,
.show>.btn-info.dropdown-toggle,
.show>.btn-outline-info.dropdown-toggle {
    background-color: #2899ef;
    border: 1px solid #2899ef
}
.btn-warning {
    background-color: #f5b225;
    border: 1px solid #f5b225
}
.btn-outline-warning.active,
.btn-outline-warning:active,
.btn-outline-warning:hover,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open>.dropdown-toggle.btn-warning,
.show>.btn-outline-warning.dropdown-toggle,
.show>.btn-warning.dropdown-toggle {
    background-color: #f4a90d;
    border: 1px solid #f4a90d
}
.btn-danger {
    background-color: #ec536c;
    border: 1px solid #ec536c
}
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-outline-danger.active,
.btn-outline-danger:active,
.btn-outline-danger:hover,
.open>.dropdown-toggle.btn-danger,
.show>.btn-danger.dropdown-toggle,
.show>.btn-outline-danger.dropdown-toggle {
    background-color: #e93c58;
    border: 1px solid #e93c58
}
.btn-dark {
    background-color: #1f2b38;
    border: 1px solid #1f2b38;
    color: #fff
}
.btn-dark.active,
.btn-dark.focus,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover,
.btn-outline-dark.active,
.btn-outline-dark:active,
.btn-outline-dark:hover,
.open>.dropdown-toggle.btn-dark,
.show>.btn-outline-dark.dropdown-toggle {
    background-color: #161e28;
    border: 1px solid #161e28;
    color: #fff
}
.btn-dark.focus,
.btn-dark:focus,
.btn-outline-dark.focus,
.btn-outline-dark:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(31, 43, 56, .3);
    box-shadow: 0 0 0 2px rgba(31, 43, 56, .3)
}
.btn-link {
    color: #1f2b38
}
.btn-link:hover {
    color: #59ceb5
}
.btn-outline-primary {
    color: #59ceb5;
    border-color: #59ceb5
}
.btn-outline-success {
    color: #5b6be8;
    border-color: #5b6be8
}
.btn-outline-info {
    color: #40a4f1;
    border-color: #40a4f1
}
.btn-outline-warning {
    color: #f5b225;
    border-color: #f5b225
}
.btn-outline-danger {
    color: #ec536c;
    border-color: #ec536c
}
.btn-outline-dark {
    background-image: none;
    background-color: transparent;
    border-color: #1f2b38
}
.btn-facebook {
    color: #fff!important;
    background-color: #3b5998
}
.btn-twitter {
    color: #fff!important;
    background-color: #00aced
}
.btn-linkedin {
    color: #fff!important;
    background-color: #007bb6
}
.btn-dribbble {
    color: #fff!important;
    background-color: #ea4c89
}
.btn-discord {
    color: #fff!important;
    background-color: #7289DA
}
.btn-instagram {
    color: #fff!important;
    background-color: #517fa4
}
.btn-pinterest {
    color: #fff!important;
    background-color: #cb2027
}
.btn-dropbox {
    color: #fff!important;
    background-color: #007ee5
}
.btn-flickr {
    color: #fff!important;
    background-color: #ff0084
}
.btn-tumblr {
    color: #fff!important;
    background-color: #32506d
}
.btn-skype {
    color: #fff!important;
    background-color: #00aff0
}
.btn-youtube {
    color: #fff!important;
    background-color: #b00
}
.btn-github {
    color: #fff!important;
    background-color: #171515
}
.card {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    margin-bottom: 30px
}
.card-header {
    border-bottom: 1px solid rgba(31, 43, 56, .05)
}
.page-link {
    color: #59ceb5
}
.page-item.active .page-link {
    background-color: #59ceb5;
    border-color: #59ceb5;
    color: #eff3f6!important
}
.page-link:focus,
.page-link:hover {
    color: #1f2b38;
    background-color: #eff3f6
}
.page-item.disabled .page-link {
    color: #eff3f6;
    pointer-events: none;
    cursor: auto;
    background-color: rgba(89, 206, 181, .7);
    border-color: rgba(89, 206, 181, .7)
}
.custom-pagination .page-link {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    line-height: 38px
}
.progress-bar {
    background-color: #59ceb5
}
.progress-vertical {
    min-height: 250px;
    height: 250px;
    width: 10px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 20px
}
.progress-vertical .progress-bar {
    width: 100%
}
.progress-vertical-bottom {
    min-height: 250px;
    height: 250px;
    position: relative;
    width: 10px;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 20px
}
.progress-vertical-bottom .progress-bar {
    width: 100%;
    position: absolute;
    bottom: 0
}
.progress-vertical-bottom.progress-sm,
.progress-vertical.progress-sm {
    width: 5px!important
}
.progress-vertical-bottom.progress-sm .progress-bar,
.progress-vertical.progress-sm .progress-bar {
    font-size: 8px;
    line-height: 5px
}
.progress-vertical-bottom.progress-md,
.progress-vertical.progress-md {
    width: 15px!important
}
.progress-vertical-bottom.progress-md .progress-bar,
.progress-vertical.progress-md .progress-bar {
    font-size: 10.8px;
    line-height: 14.4px
}
.progress-vertical-bottom.progress-lg,
.progress-vertical.progress-lg {
    width: 20px!important
}
.progress-vertical-bottom.progress-lg .progress-bar,
.progress-vertical.progress-lg .progress-bar {
    font-size: 12px;
    line-height: 20px
}
.user-history table tbody td .progress {
    -webkit-box-shadow: 0 0 0 .5px #eff3f6;
    box-shadow: 0 0 0 .5px #eff3f6
}
.h-progress .progress {
    border-radius: 50px
}
.v-progress .progress {
    border-radius: 50px
}
.v-progress .progress .progress-bar:last-child {
    border-radius: 60px 60px 0 0
}
.popover-title {
    margin-top: 0
}
.tooltip .tooltip-inner {
    padding: 4px 10px
}
.swal2-modal {
    font-family: Nunito, sans-serif
}
.swal2-modal .swal2-title {
    font-size: 28px
}
.swal2-modal .swal2-content {
    font-size: 16px
}
.swal2-modal .swal2-spacer {
    margin: 10px 0
}
.swal2-modal .swal2-file,
.swal2-modal .swal2-input,
.swal2-modal .swal2-textarea {
    border: 2px solid #707070;
    font-size: 16px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}
.swal2-modal .swal2-styled {
    border: inherit
}
.swal2-icon.swal2-question {
    color: #59ceb5;
    border-color: #59ceb5
}
.swal2-icon.swal2-success {
    border-color: #5b6be8
}
.swal2-icon.swal2-success .line {
    background-color: #5b6be8
}
.swal2-icon.swal2-success .placeholder {
    border-color: #5b6be8
}
.swal2-icon.swal2-warning {
    color: #f5b225;
    border-color: #f5b225
}
.swal2-icon.swal2-error {
    border-color: #ec536c
}
.swal2-icon.swal2-error .line {
    background-color: #ec536c
}
.swal2-modal .swal2-file:focus,
.swal2-modal .swal2-input:focus,
.swal2-modal .swal2-textarea:focus {
    outline: 0;
    border: 2px solid #59ceb5
}
.alertify,
.alertify-logs {
    z-index: 99
}
.alertify input {
    border: 2px solid #707070
}
.alertify-logs>.success {
    background-color: #59ceb5;
    color: #fff
}
.alertify-logs>.error {
    background-color: #ec536c;
    color: #fff
}
.alertify-logs>*,
.alertify-logs>.default {
    background-color: #5b6be8
}
.jqstooltip {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
.chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0
}
.chart.chart-widget-pie {
    margin-top: 5px;
    margin-bottom: 5px
}
.percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2
}
.percent:after {
    content: '%';
    margin-left: .1em;
    font-size: .8em
}
.morris-hover.morris-default-style {
    border-radius: 5px;
    padding: 10px 12px;
    background: #fff;
    border: none;
    font-family: Nunito, sans-serif;
    -webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .14);
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .14)
}
.morris-hover.morris-default-style .morris-hover-point {
    font-weight: 500;
    font-size: 14px;
    color: #1f2b38!important
}
.morris-hover.morris-default-style .morris-hover-row-label {
    background-color: #1f2b38;
    color: #fff;
    padding: 4px;
    border-radius: 5px 5px 0 0;
    margin: -10px -12px 10px
}
#flotTip {
    padding: 8px 12px;
    background-color: #fff;
    z-index: 100;
    color: #1f2b38;
    -webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .14);
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .14);
    border-radius: 1px
}
.ct-golden-section:before {
    float: none
}
.ct-chart {
    height: 300px
}
.ct-grid {
    stroke: rgba(0, 0, 0, .09);
    stroke-width: 2px;
    stroke-dasharray: 3px
}
.ct-chart .ct-label {
    fill: #707070;
    color: #707070;
    font-size: 14px;
    line-height: 1
}
.ct-chart.simple-pie-chart-chartist .ct-label {
    color: #fff;
    fill: #fff;
    font-size: 16px
}
.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point {
    stroke: #365d6e
}
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point {
    stroke: #f5b225
}
.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
    stroke: #365d6e
}
.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut,
.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
    stroke: #59ceb5
}
.ct-chart .ct-series.ct-series-a .ct-slice-donut,
.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
    stroke: #1f2b38
}
.ct-chart .ct-series.ct-series-b .ct-slice-donut,
.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point {
    stroke: #eff3f6
}
.ct-series-a .ct-slice-pie {
    fill: #5b6be8
}
.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
    fill: #f5b225
}
.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
    fill: #1f2b38
}
.ct-series-a .ct-area {
    fill: #59ceb5
}
.chartist-tooltip {
    position: absolute;
    display: inline-block;
    opacity: 0;
    min-width: 10px;
    padding: 2px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-clip: padding-box;
    background: #1f2b38;
    color: #fff;
    text-align: center;
    pointer-events: none;
    z-index: 1;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear
}
.chartist-tooltip.tooltip-show {
    opacity: 1
}
.c3 svg {
    max-width: 100%
}
.c3-tooltip td>span {
    background: #1f2b38
}
.c3-tooltip td {
    border-left: none
}
.c3-tooltip {
    -webkit-box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .12);
    opacity: 1
}
.c3-chart-arcs-title {
    font-size: 18px;
    font-weight: 600;
    font-family: Nunito, sans-serif
}
.c3-tooltip tr {
    border: none!important
}
.c3-tooltip th {
    background-color: #1f2b38
}
.c3-tooltip .value {
    font-weight: 600;
    font-family: Nunito, sans-serif
}
.c3-line {
    stroke-width: 2px
}
.c3-legend-item {
    font-size: 13px;
    font-family: Nunito, sans-serif
}
#donut-chart #donut-chart-container .legend {
    position: relative;
    margin-right: -50px;
    top: -50px
}
#donut-chart #donut-chart-container .legend div:first-child,
#pie-chart-container .legend div:first-child,
#website-stats .legend div:first-child {
    background-color: transparent!important
}
#donut-chart #donut-chart-container .legend table,
#pie-chart-container .legend table,
#website-stats .legend table {
    color: #1f2b38!important
}
.c3-chart-arcs-title,
.c3-legend-item {
    fill: #1f2b38
}